<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block body_block %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <style>

            input,button{
                width: 100%;
            }
            </style>
</head>
<body>

    <div class="container">
    <div class="jumbotron">

        <form method="post" enctype="multipart/form-data">

            <h1><em>{{ actor.name }}??</em></h1><br><br>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-warning" value="Delete">
            </form>
        <br><br>
            <a href="{% url 'app12345:list' %}"><button type="button" class="btn btn-danger">Cancel</button><a>


    </div>
    </div>
</body>
  {% endblock %}
</html>