<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<head>
<style>
p
{
border:2px solid blue;
text-align:justify;
padding:5px;
}
</style>

<title>W3.CSS</title>
</head>

<body>


<marquee behavior="alternate"><img src="{% static 'prabhas.jpg' %}" width="800" height="550"></marquee>
<marquee behavior="alternate"><h1>about prabhas</h1></marquee>
<p>
        Prabhas started his movie career with Eeswar in 2002. In 2003, he was the lead in Raghavendra. In 2004, he appeared in Varsham.
    He continued his career with Adavi Raamudu and Chakram. In 2005 he acted in the film Chatrapathi directed by S. S. Rajamouli,
    in which he portrays the role of a refugee, exploited by goons. It had a 100-day run in 54 centers.[16] Idlebrain stated that he
    had a unique style and macho charm in his screen presence.[17]

        In 2015 he appeared as Shivudu/Mahendra Baahubali and Amarendra Baahubali in S.S. Rajamouli's epic Baahubali: The Beginning.
    The film was made on a budget of ?180 crore (US$25 million), making it the most expensive Indian film at its time of release.
    The film opened worldwide on 10 July 2015, garnering critical acclaim and record breaking box office success.
    With a worldwide box office gross of ?650 crore (US$90 million), it became the highest-grossing film in India, third highest-grossing
    Indian film worldwide, and highest-grossing South Indian film, at the time of its release.Its Hindi dubbed version also broke
    several records by becoming the highest grossing dubbed film in India. Both budget and box office records have since been surpassed
    by Baahubali 2: The Conclusion, the second highest grossing Indian film of all time. The film became the third highest-grossing film
    worldwide in India and garnered critical and commercial praise all over the world. The sequel of Baahubali: The Beginning, Baahubali:
    The Conclusion was released worldwide on 28 April 2017.The film became the second highest-grossing film worldwide in India and
    garnered critical and commercial praise all over the world.

</p>

<marquee behavior="alternate"><img src="{% static 'samantha.jpg' %}" width="800" height="550"></marquee>
<p>
        Prabhas started his movie career with Eeswar in 2002. In 2003, he was the lead in Raghavendra. In 2004, he appeared in Varsham.
    He continued his career with Adavi Raamudu and Chakram. In 2005 he acted in the film Chatrapathi directed by S. S. Rajamouli,
    in which he portrays the role of a refugee, exploited by goons. It had a 100-day run in 54 centers.[16] Idlebrain stated that he
    had a unique style and macho charm in his screen presence.[17]

        In 2015 he appeared as Shivudu/Mahendra Baahubali and Amarendra Baahubali in S.S. Rajamouli's epic Baahubali: The Beginning.
    The film was made on a budget of ?180 crore (US$25 million), making it the most expensive Indian film at its time of release.
    The film opened worldwide on 10 July 2015, garnering critical acclaim and record breaking box office success.
    With a worldwide box office gross of ?650 crore (US$90 million), it became the highest-grossing film in India, third highest-grossing
    Indian film worldwide, and highest-grossing South Indian film, at the time of its release.Its Hindi dubbed version also broke
    several records by becoming the highest grossing dubbed film in India. Both budget and box office records have since been surpassed
    by Baahubali 2: The Conclusion, the second highest grossing Indian film of all time. The film became the third highest-grossing film
    worldwide in India and garnered critical and commercial praise all over the world. The sequel of Baahubali: The Beginning, Baahubali:
    The Conclusion was released worldwide on 28 April 2017.The film became the second highest-grossing film worldwide in India and
    garnered critical and commercial praise all over the world.

</p>



</body>
{% endblock %}
</html>
